# Auto detect text files and perform LF normalization
* text=auto

# change repo label 
*.java linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
